
@font-face {
    font-family: 'chirp' ;
    src: url(Ch1rp/Web/Chirp\ Web\ Heavy.ttf);
  }


.Login {
    display: grid;
    display: grid;
    grid-template-columns: 43.5% 56.5%;

}

.imgContainer {

    
    height: 39rem;
    position: relative;
}

.loginContainer {


    
    height: 39rem;

}

img {


    height: 100%;
    width: 100%;
    object-fit: cover;



}

#birdCover {

    height: 18.4rem;
    width: 18.4rem;
    position: absolute;
    /* margin-left: -27rem; */
    /* margin-top: 10rem; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}


#birdLogo {
    height: 2.7rem;
    width: 2.7rem;
    margin-top: 5.3rem;
    margin-left: 2.3rem;

}

.textContainer {
    margin-left: 2rem;
    margin-top: 4rem;
}

h1 {
    font-size: 64px;
    font-family: 'chirp';
}

h2 {
    font-size: 31px;
    font-family: 'chirp';
}

button {
    font-size: 15px;
    font-weight: 700;
    margin-top: 31px;
    height: 3.5rem;
    width: 23rem;
    background-color: rgb(29 155 240);
    color: white;
    border: none;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #ff4500;
    transition: all 1.3s;
    outline: none;
    border-radius: 30px;
    margin-left: 37px;
    margin-top: 6px;
}





.btnEntrar {
    
    background-color: white;
    color: rgb(29 155 240);
    border: solid 1px;
    margin-top:1rem;
}


footer {

    
    width: 84.3rem;
    text-align:center;
    height: 0px;
}

ul {
    
    padding: 0;
    margin-top: 3px;
    height: 0px;

}




ul li {
    margin: 1px;
    padding: 4px;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    list-style-type: none;
    color: #0f1419;
    text-align: center;
    display: inline-block;
    height: 0px;
    
}

ul li a {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    list-style-type: none;
    color: #0f1419;
    font-family: -apple-system;
    height: 0px;
}



